<!doctype html>
<html lang="ja">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link th:if="${theme} == 'default'" rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link th:if="${theme} != 'default'" rel="stylesheet" th:href="@{https://bootswatch.com/4/{theme}/bootstrap.min.css(theme=${theme})}">
    <link rel="stylesheet" href="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.css" />

    <title>container-app</title>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.6.10/dist/vue.js"></script>
    <script src="https://unpkg.com/bootstrap-vue@latest/dist/bootstrap-vue.min.js"></script>
  </head>
  <body>
    <div class="container">
      <div class="my-5">
        <h1>マイクロフロントエンドサンプル</h1>
      </div>
      <div class="my-3">
        <a th:href="@{/}">戻る</a>
      </div>
      <div class="accordion" id="components">
        <div th:if="${components.contains('a-component')}" class="card">
          <div class="card-header" id="a-component-header">
            <h2 class="mb-0">
              <button class="btn btn-link text-body" type="button"
                data-toggle="collapse" data-target="#a-component-body"
                aria-expanded="true" aria-controls="a-component-body">
                a-serviceのコンポーネント
              </button>
            </h2>
          </div>
          <div class="collapse" id="a-component-body" data-parent="#components"
            aria-labelledby="a-component-header">
            <div class="card-body">
              <div class="card-text" id="a-component-content"></div>
            </div>
          </div>
          <script src="http://localhost:8081/js/a-component.js"></script>
          <script>
            window.renderAComponent(document.getElementById('a-component-content'), {
              message: 'from container',
              baseUrl: 'http://localhost:8081'
            });
          </script>
        </div>
        <div th:if="${components.contains('b-component')}" class="card">
          <div class="card-header" id="b-component-header">
            <h2 class="mb-0">
              <button class="btn btn-link text-body" type="button"
                data-toggle="collapse" data-target="#b-component-body"
                aria-expanded="true" aria-controls="b-component-body">
                b-serviceのコンポーネント
              </button>
            </h2>
          </div>
          <div class="collapse" id="b-component-body" data-parent="#components"
            aria-labelledby="b-component-header">
            <div class="card-body">
              <div class="card-text" id="b-component-content"></div>
            </div>
          </div>
          <script src="http://localhost:8082/js/b-component.js"></script>
          <script>
            window.renderBComponent(document.getElementById('b-component-content'), {
              message: 'from container',
              baseUrl: 'http://localhost:8082'
            });
          </script>
        </div>
      </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </body>
</html>